//variables
$w: #ffffff;
$lg: #ccc;
$dg: #333;
$b: #000;

$dred: #6b3638;
$red: #bd1821;

$mainFont : 'MuseoSlab500',"HelveticaNeue-CondensedBold","FranklinGothicFSDemiCondensed",Arial,sans-serif;

//based
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  iframe{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
  }
}
.button{
	&.red{
		color:$w;
		background:$red;
		font:{
			size:25px;
		}
		@include respond(mobile){
			display: block;
			font-size: 15px;
			text-align: center;
		}
		@include respond(wide){
			display: block;
			font-size: 15px;
			text-align: center;
		}
		padding:10px 20px;
		&:hover{
			background:$w;
			color:$red !important;
		}
	}
}

footer{
	//background:url('../../img/newfooter.png') no-repeat center top !important;
}

