.Winter{
	&.landingpage{
		.header{
			.col-lg-7.right{
				text-align:right;

			}
			h1{
				font:{
					family:$mainFont;
					size:75px;
					weight:400;
				}
				line-height:75px;
				margin:{
					top:40px;
					bottom:20px;
				}
				@include respond(mobile){
					font-size:30px;
					margin-top:25px;
					line-height: 30px;
					
				}
				@include respond(wide){
					font-size:30px;
					margin-top:25px;
					line-height: 30px;
					
				}
			}
			h2{
				font:{
					family:$mainFont;
					weight:400; 
					
				}
				@include respond(mobile){
						font-size:20px;
						text-shadow: $b 1px 1px 1px;
						line-height: 20px;
					}


			}

		}
		.brand{
			background:url("../../img/tempv3/brandBG.png") $w;
			background-size:cover;
			background-position:center; 
			background-repeat:no-repeat;
			color:$w;
			height:auto;
			overflow: auto;
			border:{
				bottom:thick solid $w;
			}
			padding:{
				top:50px;
				bottom:50px;
			}
			@include respond(mobile){
						padding-top:30px;
						padding-bottom:20px;
					}
			p{
				text:{
					align:center;
					transform: uppercase;
				}
				font:{
					size:20px;
					weight:400;
					family:$mainFont;
				}
				@include respond(mobile){
						font-size: 16px;
					}
			}
		}
		.triangle{
			text-align:center;
			margin-top:-6px;
			height:auto;
			overflow: auto;
			img{
				margin:auto;
			}
			@include respond(mobile){
				display: none;
			}
		}
		.bypass{
			//margin-top:-33px;
			
			height:670px;
			padding:{
				top:50px;
				bottom:50px;
			}
			@include respond(mobile){
				height:auto;
				padding:{
					top:20px;
					bottom:50px;
				}
			}
			@include respond(tablet){
				height:auto;
			}
			.col-lg-12{
				margin-top:-5px;
				@include respond(mobile){
					margin-top: 10px;
				}

			}
			h1{
				font:{
					family:$mainFont;
					size:60px;
					weight:400;
				}
				margin:{
					bottom:20px;
				}
				@include respond(mobile){
						font-size: 30px;
					}
			}
			h2{
				font:{
					family:$mainFont;
					weight:400; 
				}
			}
			p{
				text-align:center;
				font:{
					size:25px;
					weight:400;
					family:$mainFont;
				}
				padding:{
					top:50px;
				}
				margin:{
					bottom:50px;
				}
				@include respond(mobile){
					font-size:16px;
					padding:{
						top:0px;
					}
					margin:{
						bottom:20px;
					}
				}
			}

		}
		.seize{
			
		
			height:670px;
			
			margin-top:-32px;
			padding:{
				top:50px;
				bottom:50px;
			}
			@include respond(mobile){
				margin:{
					top:-2px;
				}
				padding:{
					top:20px;
					bottom:20px;
				}
			}
			@include respond(mobile){
				height:auto;
			}
			@include respond(tablet){
				height:auto;
			}
			.col-lg-12{
				margin-top:40px;
				@include respond(mobile){
					margin-top: 10px;
				}

			}
			h1{
				font:{
					family:$mainFont;
					size:70px;
					weight:400;
				}
				color:$red;
				margin:{
					bottom:20px;
				}
				@include respond(mobile){
						font-size: 30px;
					}
				@include respond(wide){
						font-size: 30px;
					}	
			}
			h2{
				font:{
					family:$mainFont;
					weight:400; 
				}
			}
			p{
				text-align:center;
				font:{
					size:30px;
					weight:400;
					family:$mainFont;
				}
				padding:{
					top:10px;
				}
				margin:{
					bottom:50px;
				}
				@include respond(mobile){
						margin-top: 20px;
					margin:{
						bottom:20px;
					}
				}
				@include respond(mobile){
					font-size:16px;
				}
				@include respond(wide){
						margin-top: 20px;
					margin:{
						bottom:20px;
					}
				}
				@include respond(wide){
					font-size:16px;
				}
				&.note{
					font-size: 16px;
					margin-top: 150px;
					@include respond(mobile){
						font-size:12px;
						margin-top:25px;
						line-height: 15px;
						margin-bottom:20px;
					}
					@include respond(wide){
						font-size:12px;
						margin-top:25px;
						line-height: 15px;
						margin-bottom:20px;
					}
				}
			}
		}
		.lodging{ 
			
			height:570px;
			margin-top: -10px;
			padding:{
				top:50px;
				bottom:50px;
			}
			//margin-bottom:-90px;
			@include respond(mobile){
				height:auto;
				margin-bottom: -40px;
			}
			.col-lg-12{
				margin-top:40px;
				@include respond(mobile){ 
					margin-top:0px;
				}
			}
			h1{
				font:{
					family:$mainFont;
					size:60px;
					weight:400;
				}
				color:$w;
				margin:{
					bottom:20px;
				}
				@include respond(mobile){
						font-size: 30px;
					}
			}
			h2{
				font:{
					family:$mainFont;
					weight:400; 
				}
			}
			p{
				text-align:center;
				font:{
					size:28px;
					weight:400;
				 	family:$mainFont;
				}
				margin-bottom: 40px;
				@include respond(mobile){
					font-size: 16px;
				}
			}
		}
	}
	.note{
					font-size: 16px;
					margin-top: 150px;
					@include respond(mobile){
						font-size:12px;
						margin-top:25px;
						line-height: 15px;
						margin-bottom:20px;
					}
					@include respond(wide){
						font-size:12px;
						margin-top:25px;
						line-height: 15px;
						margin-bottom:20px;
					}
				}
}