#apriski{
	&.landingpage{
		.header{
			background:url("../../img/headerv1.png")no-repeat;
			background-size: cover;
			height:500px;
			color:$dred;
		}
		.brand{

		}
		.bypass{

		}
		.seize{

		}
		.lodging{

		}
	}
}