#apriski{
	&.landingpage{
		.header{
			background:url("../../img/tempv1/headerSnow.png")no-repeat;
			
			color:$dred;
			margin:{
				top:-44px;
			}
			@include respond(mobile){
				margin:{
					top:0px;
				}
			}
			@include respond(wide){
				margin:{
					top:0px;
				}
			}
			
		}
		
		.bypass{
			a{
				@include respond(tablet){
					margin-bottom: 30px;
				}
			}
			margin-top:-33px;
			@include respond(mobile){
				margin-top:-12px;
			}
			text-align:center;
			color:$w;
			background:url("../../img/tempv1/divBypass.png");
			background-attachment:fixed;
			background-size:cover;
			background-position:center; 

			@include mobile(0px, 700px){
				background-attachment: local;
			}
			

		}
		.seize{
			text-align:center;
			color:$dg;
			background:url("../../img/tempv1/divSeize.png");
			background-size:cover;
			background-position:center;
		
			@include respond(mobile){
					margin-top: 0px !important;
			}
			@include respond(wide){
				margin-top: 0px !important;
			}
			@include respond(tablet){
				margin-top: 0px !important;
			}
		}
		.lodging{ 
			text-align:center;
			color:$w;
			background:url("../../img/tempv1/divLodging.png");
			background-size:cover;
			background-attachment:fixed;
			@include mobile(0px, 700px){
				background-attachment: local;
			}
			
		}
	}
}