#fivestar{
	&.landingpage{
		.header{
			background:url("../../img/tempv2/headerBrand.png")no-repeat;
			background-size: cover;
			@include respond(mobile){
				background-position:center;
			}
			@include respond(tablet){
				background-position:right;
			}
			
			
			color:$w;
			margin:{
				top:-40px;
			}
			@include respond(mobile){
				margin:{
					top:0px;
				}
			}
			@include respond(wide){
				margin:{
					top:0px;
				}
			}
			
		}
		
		.bypass{
			//margin-top:-33px;
			text-align:center;
			color:$w;
			background:url("../../img/tempv2/divBypass.png");
			background-attachment:fixed;
			background-size:cover;
			background-position:right; 
			@include mobile(0px, 700px){
				background-attachment: local;
			}
			

		}
		.seize{
			text-align:center;
			color:$dg;
			background:url("../../img/tempv1/divSeize.png");
			background-size:cover;
			background-position:center;
			background-attachment:fixed;
			@include mobile(0px, 700px){
				background-attachment: local;
			}
			.note{
				margin-top:50px !important;
			}
			
		}
		.lodging{ 
			text-align:center;
			color:$w;
			background:url("../../img/tempv2/divLodging.png");
			background-size:cover;
			.r{
				margin-bottom: 20px;
				@include respond(mobile){
			
				}
				@include respond(wide){
					
				}

			}
			
			
		}
	}
}