#fivestar{
	&.landingpage{
		.header{
			background:url("../../img/tempv2/headerBrand.png")no-repeat;
			background-size: cover;
			@include respond(mobile){
				background-position:center;
			}
			@include respond(tablet){
				background-position:right;
			}
			height:670px;
			@include respond(mobile){
						height:300px;
					}
			color:$w;
			margin:{
				top:-40px;
			}
			@include respond(mobile){
				margin:{
					top:0px;
				}
			}
			
		}
		
		.bypass{
			//margin-top:-33px;
			text-align:center;
			color:$w;
			background:url("../../img/tempv2/divBypass.png");
			background-attachment:fixed;
			background-size:cover;
			background-position:right; 
			

		}
		.seize{
			text-align:center;
			color:$dg;
			background:url("../../img/tempv2/divSeize.png");
			background-size:cover;
			background-position:center;
			background-attachment:fixed;
			
		}
		.lodging{ 
			text-align:center;
			color:$w;
			background:url("../../img/tempv2/divLodging.png");
			background-size:cover;
			
			
		}
	}
}