#nextgen{
	&.landingpage{
		.header{
			background:url("../../img/tempv3/headerBrand.png")no-repeat;
			background-size: cover;
			@include respond(mobile){
				background-position:center;
			}
			height:670px;
			@include respond(mobile){
						height:300px;
					}
			color:$w;
			
			.col-lg-7{
				text-align:right;

			}
			

		}
		
		.triangle{
			text-align:center;
			margin-top:-6px;
			height:auto;
			overflow: auto;
			img{
				margin:auto;
			}
			@include respond(mobile){
				display: none;
			}
		}
		.bypass{
			//margin-top:-33px;
			text-align:center;
			color:$w;
			background:url("../../img/tempv3/divBypass.png");
			background-attachment: fixed;
			background-size:cover;
			background-position:center; 
			
		}
		.seize{
			text-align:center;
			color:$dg;
			background:url("../../img/tempv3/divSeize.png");
			background-size:cover;
			background-position:center;
		
			height:670px;
			margin-top: -41px !important;

		}
		.lodging{ 
			text-align:center;
			color:$w;
			background:url("../../img/tempv3/divLodging.png");
			background-size:cover;
			background-attachment: fixed;
			
		}
	}
}