#nextgen{
	&.landingpage{
		.header{
			background:url("../../img/tempv3/headerBrand.png")no-repeat;
			background-size: cover;
			

			color:$w;
			
			.col-lg-7{
				text-align:right;

			}

		}
		
		.triangle{
			text-align:center;
			margin-top:-6px;
			height:auto;
			overflow: auto;
			img{
				margin:auto;
			}
			@include respond(mobile){
				display: none;
			}
		}
		.bypass{
			//margin-top:-33px;
			text-align:center;
			color:$w;
			background:url("../../img/tempv3/divBypass.png");
			background-attachment: fixed;
			background-size:cover;
			background-position:center; 
			@include mobile(0px, 700px){
				background-attachment: local;
			}
			
		}
		.seize{
			text-align:center;
			color:$dg;
			background:url("../../img/tempv3/divSeize.png");
			background-size:cover;
			background-position:center;
		
		
			margin-top: -41px !important;
			@include respond(mobile){
				margin-top: 0px !important;
			}
			@include respond(wide){
				margin-top: 0px !important;
			}
			h1{
				@include respond(tablet){
					margin-top: 30px !important;
				}
			}
			.note{
				    margin-top: 50px !important;
			}
			



		}
		.lodging{ 
			text-align:center;
			color:$w;
			background:url("../../img/tempv3/divLodging.png");
			background-size:cover;
			background-attachment: fixed;
			
			@include mobile(0px, 700px){
				background-attachment: local;
			}
		}
	}
}