#snow{
	&.landingpage{
		.header{
			background:url("../../img/tempv4/headerSnowv3.png")no-repeat;
			background-size: cover;
			background-position:bottom;
			@include respond(mobile){
				background-position:center;
			}
			@include respond(wide){
				background-position:center;
			}
			@include respond(tablet){
				background-position:right;
			}
			height:670px;
			@include respond(mobile){
				height:300px; 
			}
			@include respond(wide){
				height:300px; 
			}
			color:$dred;
			margin:{
				top:-40px;
			}
			
			@include respond(mobile){
				margin:{
					top:0px;
				}
			}
			@include respond(wide){
				margin:{
					top:0px;
				}
			}
			h1{
				color:$red;
				margin-bottom:35px;
				@include respond(mobile){
					margin-top: 30px !important;
				}
				@include respond(wide){
					margin-top: 30px !important;
				}
			}
			.button.red{
				@include respond(wide){
				display:inline;
				}
			}
		}
		.brand{
			margin-top:-100px;
			@include respond(mobile){
				margin-top:0;
			}
			@include respond(wide){
				margin-top: 0;
			}
		}
		
		.bypass{

			margin-top:-33px;
			@include respond(mobile){
				margin-top: -12px !important;
			}
			
			text-align:center;
			color:$w;
			background:url("../../img/tempv1/divBypass.png");
			background-attachment:fixed;
			background-size:cover;
			@include mobile(0px, 700px){
				background-attachment: local;
			}
			.r{
				margin-bottom:10px;
				@include respond(mobile){
					margin-bottom:0px;
				}
			}

		}
		.seize{
			text-align:center;
			color:$dg;
			background:url("../../img/tempv1/divLift.png");
			background-size:cover;
			background-position:center;
			@include respond(mobile){
					margin-top: 0px !important;
				}
				@include respond(wide){
					margin-top: 0px !important;
				}
				@include respond(tablet){
				margin-top: 0px !important;
			}
			.r{
				margin-bottom:10px;
				@include respond(mobile){
					margin-bottom:0px;
				}
			}
		}
			
		.lodging{ 
			
			text-align:center;
			color:$w;
			background:url("../../img/tempv1/divLodging.png");
			background-size:cover;
			background-attachment:fixed;
			@include mobile(0px, 700px){
				background-attachment: local;
			}
			.r{
				margin-bottom:10px;
				@include respond(mobile){
					margin-bottom:0px;
				}
			}
			
		}
	}
}
