#snowNextGen{
	&.landingpage{
		.header{
			background:url("../../img/tempv4/headerSnowv2.png") no-repeat;
			background-size: cover;
			@include respond(mobile){
				background-position:center;
			}
			@include respond(wide){
				background-position:center;
			}
			@include respond(tablet){
				background-position:right;
				height:auto;
			}
			
			
			
			color:$dred;
			margin:{
				top:-40px;
			}
			@include respond(mobile){
				margin:{
					top:0px;
				}
			}
			@include respond(wide){
				margin:{
					top:0px;
				}
			}
			h2{
				margin-bottom:35px;
			}
			.note{
				@include respond(tablet){
				    margin-top: 35px;
    				margin-bottom: 31px;
				}
			}
			

		}
		
		.bypass{
			//margin-top:-33px;
			text-align:center;
			color:$w;
			background:url("../../img/tempv3/divBypass.png");
			background-attachment:fixed;
			@include mobile(0px, 700px){
				background-attachment: local;
			}
			background-size:cover;
			background-position:center; 
			height:670px;
			padding:{
				top:50px;
				bottom:50px;
			}
			@include mobile(0px, 1199px){
				height:auto;
			}
			@include respond(mobile){
				padding-top:30px !important;
			}
			@include respond(wide){
					padding-top:30px !important;
			}
			
		}
		.seize{
			text-align:center;
			color:$dg;
			background:url("../../img/tempv1/divLift.png");
			background-size:cover;
			height:670px;
			padding:{
				top:50px;
				bottom:50px;
			}
			@include respond(mobile){
				height:auto;
			}
			@include respond(wide){
				height:auto;
			}
			
	}
		.lodging{ 
			text-align:center;
			color:$w;
			background:url("../../img/tempv1/divLodging.png");
			background-size:cover;
			background-attachment:fixed;
			height:570px;
			@include mobile(0px, 700px){
				background-attachment: local;
			}
			padding:{
				top:50px;
				bottom:50px;
			}
			//margin-bottom:-90px;
			@include respond(mobile){
				height:auto;
				margin-top: -20px;
				margin-bottom: -40px;
			}
			@include respond(wide){
				height:auto;
				margin-top: -20px;
				margin-bottom: -40px;
			}
			
		}
	}
}